body{
    background: #b3b0b4;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: black;
    font-size: 30px;
    position: center;
}

#boton td{
    padding: auto;
    background-color: #b3b0b4;
    font-size: 20px;
    transition: 0.2s;
}

#boton, td:hover{
    background: absolute;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7;
    transition-delay: ls;
}
